%html
  %head
    %title Store Demo

  %body
    %h1= t ".title"
    %em= t ".description"

    %ul
      -Product.all.each do |product|
        %li= link_to product.name, product_path(product) 
        %p= Product.human_attribute_name(:description) + " " + product.description 
        %p= Product.human_attribute_name(:price) + number_to_currency(product.price, precision: 2)
